<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="container my-5">
      <div class="title">
        <h1 class="font-weight-bold text-center pb-5"> Money Converter</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="form">From</label>
          <select v-model="from" name="" id="" class="form-control">
            <option :value="currency.id" v-for="currency in formatedCurrencies">{{currency.currencyName}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="to">To</label>
          <select v-model="to" name="" id="" class="form-control">
            <option :value="currency.id" v-for="currency in formatedCurrencies">{{currency.currencyName}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <input v-model="amount" type="number" class="form-control my-5" placeholder="amount">
          <div class="text-center">
            <button :disabled="disabled" @click="convert()" class="btn btn-lg btn-light">{{loading ? 'converting..':
              'convert'}}</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center display-2 font-weight-bold mt-5">
            {{calculateResult}}
          </h1>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="main.js"></script>
</body>

</html>